{% extends 'base.html' %}

{% block content %}
<!-- Navbar Start -->
<div class="container-fluid  sticky-top" style="background-color:  #d2d4d5; ">
  <div class="container">
      <nav class="navbar navbar-expand-lg  navbar-light p-lg-0 Text" style="background-color: #d2d4d5;">
          <a href="index.html" class="navbar-brand d-lg-none">
              <h1 class="fw-bold m-0">GCSolution</h1>
          </a>
          <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse"  >
              <div class="navbar-nav">
                 <a href="{% url 'dashboard' %}" class="nav-item nav-link active">Home</a>                                              
              </div>
              <div class="mx-auto"> 
                 <h3 class="text-center">Create Ticket</h3>  
              </div>
              <div>
                 <a href="{% url 'logout' %}" class="btn btn-primary rounded-pill py-2 px-3">Logout</a>
              </div>
          </div>
      </nav>
  </div>
</div>
<div class="container my-5"> 
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary mt-3">Create</button>
  </form>
</div>
{% endblock %}
